.content {
  height: 300px;
}

.mentee_intro {
  margin-left: 140px;
  margin-top: 70px;
}

.pic {
  margin-top: -250px;
  margin-left: 520px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: solid 2px #c9fd6a;
}

.hom {
  margin-left: 1000px;
  margin-top: -200px;
  font-size: 18px;
}

.icon-color {
  color: #c9fd6a;
}

.line1 {
  font-size: 20px;
}

.line2 {
  font-size: 35px;
}

.line3 {
  font-size: 23px;
}

.linked {
  margin-left: 10px;
  width: 25px;
}

@media screen and (max-width: 379px) {
  .content {
    height: 600px;
  }
  .mentee_intro {
    margin-left: 60px;
    margin-top: 70px;
  }
  .pic {
    margin-top: 10px;
    margin-left: 50px;
    width: 230px;
    height: 230px;
  }
  .hom {
    margin-left: 140px;
    margin-top: 40px;
    font-size: 15px;
  }
}

@media screen and (min-width: 380px) and (max-width: 480px) {
  .content {
    height: 600px;
  }
  .mentee_intro {
    margin-left: 60px;
    margin-top: 70px;
  }
  .pic {
    margin-top: 10px;
    margin-left: 90px;
    width: 250px;
    height: 250px;
  }
  .hom {
    margin-left: 140px;
    margin-top: 40px;
    font-size: 18px;
  }
}

@media screen and (min-width: 481px) and (max-width: 620px) {
  .content {
    height: 600px;
  }
  .mentee_intro {
    margin-left: 60px;
    margin-top: 70px;
  }
  .pic {
    margin-top: 50px;
    margin-left: 90px;
    width: 250px;
    height: 250px;
  }
  .hom {
    margin-left: 400px;
    margin-top: -150px;
    font-size: 20px;
  }
}

@media screen and (min-width: 621px) and (max-width: 919px) {
  .content {
    height: 600px;
  }
  .mentee_intro {
    margin-left: 60px;
    margin-top: 70px;
  }
  .pic {
    margin-top: 50px;
    margin-left: 90px;
    width: 290px;
    height: 290px;
  }
  .hom {
    margin-left: 500px;
    margin-top: -150px;
    font-size: 20px;
  }
}

@media screen and (min-width: 920px) and (max-width: 1100px) {
  .mentee_intro {
    margin-left: 70px;
  }
  .pic {
    width: 285px;
    height: 285px;
    margin-left: 450px;
  }
  .hom {
    margin-left: 800px;
  }
}
